In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("D:\Data Analytics\employees.csv")

In [4]:
print(df.head())

  First Name  Gender  Salary Bonus % Senior Management             Team
0    Douglas    Male   97308   6.945              TRUE        Marketing
1     Thomas    Male   61933     NaN              TRUE              NaN
2      Maria  Female  130590  11.858             FALSE          Finance
3      Jerry    Male     NaN    9.34              TRUE          Finance
4      Larry    Male  101004   1.389              TRUE  Client Services

In [5]:
print(df.dtypes)

First Name           object
Gender               object
Salary               object
Bonus %              object
Senior Management    object
Team                 object
dtype: object

In [7]:
print(df.describe())

       First Name  Gender Salary Bonus % Senior Management             Team
count         931     852    998     997               932              957
unique        201       3    993     968                 4               13
top       Marilyn  Female  91462   8.999              TRUE  Client Services
freq           11     428      2       3               467              105

In [9]:
print('Salary')
print(df['Salary'].head(10))

Salary
0     97308
1     61933
2    130590
3       NaN
4    101004
5    115163
6     65476
7     45906
8       NaN
9    139852
Name: Salary, dtype: object

In [10]:
print(df['Gender'].head(10))

0      Male
1      Male
2    Female
3      Male
4      Male
5      n.a.
6    Female
7    Female
8       NaN
9    Female
Name: Gender, dtype: object

In [12]:
missing_value_formats=["n.a.","?","NA","n/a","na","--"]
df=pd.read_csv("D:\Data Analytics\employees.csv",na_values=missing_value_formats)
print(df['Gender'].head(10))

0      Male
1      Male
2    Female
3      Male
4      Male
5       NaN
6    Female
7    Female
8       NaN
9    Female
Name: Gender, dtype: object

In [14]:
missing_value_formats=["n.a.","?","NA","n/a","na","--"]
df=pd.read_csv("D:\Data Analytics\employees.csv",na_values=missing_value_formats)
def make_int(i):
    try:
        return int(i)
    except:
        return pd.np.nan
df['Salary']=df['Salary'].map(make_int)
print(df['Salary'].head() )

0     97308.0
1     61933.0
2    130590.0
3         NaN
4    101004.0
Name: Salary, dtype: float64

C:\Users\User\AppData\Local\Temp/ipykernel_5548/2840227511.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  return pd.np.nan

In [15]:
print(df['Gender'].isnull().head(10))
print(df['Gender'].notnull().head(10))

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8     True
9    False
Name: Gender, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
6     True
7     True
8    False
9     True
Name: Gender, dtype: bool

In [16]:
null_filter=df['Gender'].notnull()
print(df[null_filter].head())

  First Name  Gender    Salary  Bonus % Senior Management             Team
0    Douglas    Male   97308.0    6.945              True        Marketing
1     Thomas    Male   61933.0      NaN              True              NaN
2      Maria  Female  130590.0   11.858             False          Finance
3      Jerry    Male       NaN    9.340              True          Finance
4      Larry    Male  101004.0    1.389              True  Client Services

In [17]:
print(df.isnull().values.any())

True

In [18]:
print(df.isnull().sum())

First Name            70
Gender               149
Salary                 5
Bonus %                4
Senior Management     71
Team                  48
dtype: int64

In [19]:
new_df=df.dropna(axis=0)
print(new_df.isnull().values.any())

False

In [20]:
new_df=df.dropna(axis =0,how='any')
new_df=df.dropna(axis =0,how='all')
new_df=df.dropna(axis =1,how='any')
new_df=df.dropna(axis =0,how='all')

In [22]:
df['Salary'].fillna(0)

0       97308.0
1       61933.0
2      130590.0
3           0.0
4      101004.0
         ...
995    132483.0
996     42392.0
997     96914.0
998     60500.0
999    129949.0
Name: Salary, Length: 1000, dtype: float64

In [23]:
df['Gender'].fillna('No Gender')

0           Male
1           Male
2         Female
3           Male
4           Male
         ...
995    No Gender
996         Male
997         Male
998         Male
999         Male
Name: Gender, Length: 1000, dtype: object

In [24]:
df['Salary'].fillna(method='pad')

0       97308.0
1       61933.0
2      130590.0
3      130590.0
4      101004.0
         ...
995    132483.0
996     42392.0
997     96914.0
998     60500.0
999    129949.0
Name: Salary, Length: 1000, dtype: float64

In [25]:
df['Salary'].fillna(method='bfill')

0       97308.0
1       61933.0
2      130590.0
3      101004.0
4      101004.0
         ...
995    132483.0
996     42392.0
997     96914.0
998     60500.0
999    129949.0
Name: Salary, Length: 1000, dtype: float64

In [27]:
df['Salary'].fillna(df['Salary'].median())

0       97308.0
1       61933.0
2      130590.0
3       90370.0
4      101004.0
         ...
995    132483.0
996     42392.0
997     96914.0
998     60500.0
999    129949.0
Name: Salary, Length: 1000, dtype: float64

In [29]:
df['Salary'].fillna(df['Salary'].mean())

0       97308.000000
1       61933.000000
2      130590.000000
3       90522.329648
4      101004.000000
           ...
995    132483.000000
996     42392.000000
997     96914.000000
998     60500.000000
999    129949.000000
Name: Salary, Length: 1000, dtype: float64

In [31]:
df['Salary'].replace(to_replace=np.nan,value=0)

0       97308.0
1       61933.0
2      130590.0
3           0.0
4      101004.0
         ...
995    132483.0
996     42392.0
997     96914.0
998     60500.0
999    129949.0
Name: Salary, Length: 1000, dtype: float64

In [32]:
df['Salary'].interpolate(method='linear',direction='forward')

0       97308.0
1       61933.0
2      130590.0
3      115797.0
4      101004.0
         ...
995    132483.0
996     42392.0
997     96914.0
998     60500.0
999    129949.0
Name: Salary, Length: 1000, dtype: float64